streamlit
openai
pydub
pandas
python-dotenv
rapidfuzz
sentence-transformers
ibm-watson
ffmpeg-python
requests

cython==0.29.36

# Stable spaCy and thinc combo
spacy==3.5.3
thinc==8.1.10

# English model
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
