streamlit
openai
pydub
pandas
python-dotenv
rapidfuzz
sentence-transformers
ibm-watson
ffmpeg-python
requests

# spaCy + core dependencies (use cpu version)
cython
spacy[cpu]==3.7.2
thinc==8.2.1

# Download English model (only install via .whl)
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
